@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  margin: 0 0 0 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(247, 250, 250);
}

div.main {
  margin: 0px 10px;
}

.nav-link {
  color: #636363;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  min-width: 100px;
  margin: 0 10px;
}

.navlink-custom {
  padding: 20px !important;
  border-bottom: 3px solid transparent;
  border-radius: 0 !important;
  border-bottom-width: 3px;
}

.navlink-custom:hover {
  color: #04af43;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  border-bottom-width: 3px;
}

.navlink-custom:focus {
  color: #636363;
  border-bottom: 1px solid #04af43;
  border-bottom-width: 3px;
  border-radius: 0;
}

.navlink-custom.active {
  color: #636363 !important;
  background-color: transparent !important;
  border-bottom: 1px solid #04af43 !important;
  border-bottom-width: 3px !important;
  border-radius: 0;
}

.navlink-custom.active:hover,
.navlink-custom.active:focus {
  color: #04af43 !important;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  border-bottom-width: 3px;
}

#navbar {
  background-color: #04af4300 !important;
  padding: 0px;
  border: 0px solid #04af43 !important;
  box-shadow: none;
}

#navbar-img {
  height: 40px;
  margin: 10px;
  padding: 0px;
}

#horizontal-line {
  border: 1px solid #dddddd;
  height: 1px;
}
